version: '3.1'

services:
  shortlink:
    build:
      context: .
      dockerfile: Dockerfile.test
    env_file:
      - ./.env
    volumes:
      - ./src:/usr/src/app/src
      - ./test:/usr/src/app/test
    networks:
      - shortlink-net
    depends_on:
      - db
    restart: unless-stopped
    ports:
      - ${PORT}:${PORT}
    command: npm run test

  db:
    hostname: mongo
    image: mongo:7
    expose:
      - 27017
    ports:
      - 27017:27017
    networks:
      - shortlink-net

networks:
  shortlink-net:
    driver: bridge
